<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>login form(need to fix)</h1>
<form action="/login" method="post">
    <label for="username">아이디 : </label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">비밀 번호 : </label>
    <input type="text" id="password" name="password" required><br><br>

    <button type="submit">로그인</button>
</form>
<a th:href="${link}"> Kakao Login </a>
</body>
</html>