<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>막대그래프</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

</head>
<body>
<div>
    <style>
        #congestionChart {
            width: 100%;
            height: 300px; /* 고정된 높이 */
        }
    </style>
    <canvas id="congestionChart"></canvas>
</div>

<script>
    const climbingGymId = [[${climbinggym.id}]]

    const conBar = document.getElementById('congestionChart');
    let congestionChart = new Chart(conBar, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: '혼잡도',
                data: [],
                backgroundColor: [],
                borderColor: [],
                borderWidth: 1,
                barThickness: 20,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    max: 100,
                    title: {
                        display: true,
                        text: '단위 : %', // Y축 끝에 % 표시
                        font: {
                            size: 14 // 폰트 크기 조절
                        },
                        padding: {
                            top: 10 // 위쪽 간격 조절
                        }
                    }
                },
                x: {
                    type: 'category',
                    time: {
                        display: true,
                        text: '시간대'
                    },
                    ticks: {
                        autoSkip: false // 모든 x축 레이블 표시
                    },
                    title: {
                        display: true,
                        text: '단위 : 시', // X축 끝에 '시' 표시
                        font: {
                            size: 14 // 폰트 크기 조절
                        },
                        padding: {
                            top: 10 // 위쪽 간격 조절
                        }
                    }
                }
            }
        }
    });

    function updateChart(data) {
        const timeZones = [];
        const occupancies = [];
        const backgroundColors = [];
        const borderColors = [];
        const borderWidths = [];
        const currentTime = new Date().getHours(); // 현재 시간 가져오기 (24시간 형식)

        data.congestion.forEach(item => {
            for (let key in item) {
                const time = parseInt(key.replace("time ", ""));
                timeZones.push(time); // x축: 시간대
                occupancies.push(item[key]); // y축
                if (time > currentTime) {
                    //현재 시간 이상인 데이터는 무조건 회색
                    backgroundColors.push('rgba(201, 203, 207, 0.2)');
                    borderColors.push('rgba(201, 203, 207, 1)');
                    borderWidths.push(1);
                } else if (item[key] > 100) {
                    //혼잡도가 100% 초과하는 경우 빨간색
                    backgroundColors.push('rgba(255, 99, 132, 0.2)');
                    borderColors.push('rgba(255, 99, 132, 1)');
                    borderWidths.push(1);
                } else {
                    backgroundColors.push('rgba(75, 192, 192, 0.2)');
                    borderColors.push('rgba(75, 192, 192, 1)');
                    borderWidths.push(1);
                }
            }
        });

        const updatedData = timeZones.map((time, index) => ({
            x: time, //x축 : 시간대, "09:00" 등의 문자열
            y: occupancies[index] // y축 값 %
        }));
        congestionChart.data.labels = timeZones;
        congestionChart.data.datasets[0].data = updatedData;
        congestionChart.data.datasets[0].backgroundColor = backgroundColors;
        congestionChart.data.datasets[0].borderColor = borderColors;
        congestionChart.data.datasets[0].borderWidth = borderWidths;
        congestionChart.update();
    }

    function getDataByGymId(gymId) {
        fetch(`/rest/presentCount/${gymId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('네트워크 응답에 문제가 있습니다.');
                }
                return response.json();
            })
            .then(data => {
                console.log(data);//데이터 확인
                updateChart(data);
            })
            .catch(error => {
                console.error('데이터 가져오기에 실패했습니다.', error);
            });
    }
    getDataByGymId(climbingGymId)
</script>
</body>
</html>