<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climbing Gym Search</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=cxqymlkqx1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<header id="header">
    <img src="GripLogo.png" alt="Grip Logo" class="logo">
    <ul>
        <li id="left-nav">
            <a href="/main">지도</a>
        </li>
        <li><a href="/postlist">게시판</a></li>
    </ul>
    <ul class="right-nav">
        <li>
            <a href="/searchform">검색</a>
        </li>
        <li>
            <a href="/loginform">로그인</a>
        </li>
    </ul>
</header>
<div>
    <div id="search-controls">
        <input type="text" id="searchKeyword" placeholder="Search keyword">
        <button onclick="searchGyms()">Search</button>
        <button onclick="moveToCurrentLocation()">현재 위치로 이동</button>
    </div>
    <div id="map" ></div>
</div>
<footer id="footer">
    <p>© 2024 Grip. All rights reserved.</p>
</footer>
<script src="mainMap.js"></script>
</body>
</html>
