<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>클라이밍짐 상세 페이지</title>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=cxqymlkqx1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<style>
    .new-post {
        text-align: right;
        margin-bottom: 20px;
    }

    .new-post a {
        background-color: #44c767;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .new-post a:hover {
        background-color: #5cbf2a;
    }
</style>
<body>
<header id="header" th:replace="header.html"></header>
<div>
    <input type="hidden" id="climbingGymId" th:value="${climbinggym.id}"/>
    <h1 th:text="${climbinggym.name}">클라이밍짐 이름</h1>
    <p th:text="${climbinggym.address}">클라이밍짐 주소</p>
</div>
<div th:replace="bargraph.html"></div>
<div id="map" style="width: 50%; height: 200px;"></div>
<section>
    <h2>게시글 목록</h2>
    <div class="new-post">
        <a  th:href="@{'/postform?climbingid=' + ${climbinggym.id}}">새 게시글 작성</a>
    </div>
    <ul>
        <li th:each="post : ${posts}">
            <h3>
                <a th:text="${post.title}" th:href="@{'/post/' + ${climbinggym.id} + '/' + ${post.id}}">게시글 제목</a>
            </h3>
            <p th:text="${post.content}">게시글 내용</p>
            <p th:text="${post.createdAt}">작성일</p>
        </li>
    </ul>
</section>
</body>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        loadClimbingGym();
    });

    let map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.5200704, 127.0215399),
        zoom: 13
    });
    function loadClimbingGym() {
        const climbingId = /*[[${climbinggym.id}]]*/ 0;
        fetch(`/api/climbinggym?climbingid=${climbingId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                let position = new naver.maps.LatLng(data.mapY, data.mapX);

                let marker = new naver.maps.Marker({
                    position: position,
                    map: map,
                    title: data.name
                });

                map.setCenter(position);
                map.setZoom(15); // 원하는 줌 레벨 설정
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>
</html>