<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>클라이밍짐 상세 페이지</title>
</head>
<body>
<header>
    <h1 th:text="${climbinggym.name}">클라이밍짐 이름</h1>
    <p th:text="${climbinggym.address}">클라이밍짐 주소</p>
</header>
<section>
    <h2>게시글 목록</h2>
    <ul>
<!--        <li th:each="post : ${posts}">-->
<!--            <h3 th:text="${post.title}">게시글 제목</h3>-->
<!--            <p th:text="${post.content}">게시글 내용</p>-->
<!--            <p th:text="${post.createdAt}">작성일</p>-->
<!--        </li>-->
    </ul>
</section>
</body>
</html>